<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
    <link rel="stylesheet" href="../styles/reset.css">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <h1 class="title">Best Books!</h1>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <nav class="list">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/searches/new">Search Google Books API</a></li>
            </ul>
        </nav>
    </header>

    <div class="section">
        <p>Search by Title or Author</p>
    </div>
    <form action="/searches" method="post">
        <input type="text" name="searchEngine" id="" placeholder="Enter a title or author">
        <label>Title<input type="radio" name="category" value="intitle" id=""></label>
        <label>Author<input type="radio" name="category" value="inauthor" id=""></label>
        <button>Search for the Google Books API</button>
    </form>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../app.js"></script>
</body>
</html>