.hamburger div {
    cursor: pointer;
    text-align: right;
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 1px;
}

nav.list ul li a{
    color: #fff !important;
    display: block;
    padding: 13px;
    font-size: larger;
}

nav.list ul li a:hover{
    background-color: gray;
}


.searches{
    padding: 15px;
    text-align: center;
    background-color: rgba(231, 228, 228, 0.781);
    margin: 35px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.377);


}
.searches h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.377);
}

.searches h3{
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    color: rgb(75, 74, 74);
    margin-bottom: 15px;

}

.searches p{
    margin-bottom: 15px;
    color: rgb(75, 74, 74);
}

.searches img{
    margin-top: 20px;
    height: 400px;
    width: 250px;
    margin-bottom: 15px;
    border: 5px solid #fff;
}

span {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.show-detail{
    display: block;
    margin: 10px auto;
    width: 40%;
    padding: 10px 0;
    text-align: center;
    background-color: #000;
    color: #fff;
}

