<header class="navbar">
    <div class="container">
        <h1 class="title">Best Books!</h1>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">Search Google Books API</a></li>
        </ul>
    </nav>
</header>